 body {
 
    max-width: 900px;
    margin: 0 auto;
    padding:50px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.5;
    background: url("skyline.jpg");
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: cover;

 }
 
 header {
 
    padding-right:30px;
    background-color: #EFE9FF;
    min-height: 200px;
    position:relative;
    overflow:auto;
    text-align: justify;
    opacity: 0.9;
 
 }
 
 h1, h2 {
 
    letter-spacing: 1px;
    font-weight:normal; 

 }
 
 .main, footer, .bottom {
 
    background-color: #EFE9FF;
    padding:25px;
    text-align: justify;
    opacity: 0.9;
 }
 
 .profile-picture {
 
    width:25%;
    float: left;
    border-radius: 50%;
    padding: 20px;
    
 
 }
 
ul {
    background-color: #EFE9FF;
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity:0.9;
    text-align:center;
}

li {

    display:inline;
    
}
 
li a {
    padding: 20px;
    display:inline-block;
    transition: background-color 0.3s;
    text-decoration:none;
}

a {

    text-decoration:none;

}

.wrapper li a:hover {

    background-color: #42aaff;

    }

a > img {

    width: 120px;

}


#onTop {

padding: 0;

}

.bottom {

text-align: center;
max-width:200px;
margin: 0 auto;
opacity: 0;
transition: opacity 0.5s;

}

.bottom:hover {

opacity: 0.9;

}

p + img {

width:80%;
display: block;
margin-left: auto;
margin-right: auto;
border-radius:3px;
box-shadow: 0px 0px 15px white
 
}

